
hr{
  color: rgb(0, 0, 0);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  float:left; 
  margin-right: 50px; 
  list-style-type: none; 
}

.nav-link {
  color: white; 
}

.contact-list {  
  text-align: left;
  list-style-type: none;
  
}

.image {
  margin-right: 68px;
  margin-top: 5%;
  text-align: right;
}

.name-surname {
  margin-top: 12%;
}

.icons {
  margin-right: 5px;
}

.list-item {
  color:black;
  text-decoration: none;
}

.col-3 {
  outline: 2px black;
}

.container my-5{
  padding-left: 15%;
}